# 服务配置
server:
  port: 9002

# spring相关配置
spring:
    main:
      allow-bean-definition-overriding: true
    datasource:
        name: test
        url: jdbc:mysql://127.0.0.1:3306/showcase
        username: root
        password: root
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        druid:
          driver-class-name: com.mysql.cj.jdbc.Driver
          # 初始化连接线程数
          initial-size: 20
          # 最小连接线程数
          min-idle: 20
          # 最大连接线程数数
          max-active: 100
          # 获取连接等待超时时间，毫秒
          max-wait: 60000
          # 检测间隔时间，检测需要关闭的空闲连接
          time-between-eviction-runs-millis: 60000
          # 连接最小生存时间
          min-evictable-idle-time-millis: 30000
          # 用来检测连接是否有效的sql，要求是一个查询语句
          validation-query: SELECT 'X'
          test-while-idle: true
          test-on-borrow: false
          test-on-return: false
          # 打开PSCache，并指定每个连接上PSCache的大小。oracle设为true，mysql设为false。分库分表较多推荐设置为false
          pool-prepared-statements: false
          max-pool-prepared-statement-per-connection-size: 20
          filters: config,wall,stat
          stat-view-servlet:
            enabled: true
            url-pattern: /druid/*
            reset-enable: true
            login-username: admin
            login-password: admin
    kafka:
        bootstrap-servers: 127.0.0.1:9092
        producer:
          retries: 0
          batch-size: 16384
          buffer-memory: 33554432
          key-serializer: org.apache.kafka.common.serialization.StringSerializer
          value-serializer: org.apache.kafka.common.serialization.StringSerializer
        consumer:
          group-id: showcase-web
          auto-offset-reset: earliest
          enable-auto-commit: false
          key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
          value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
          auto-commit-interval: 100

# 日志配置
#logging:
#  config: classpath:logback-spring.xml
#  path: ${user.home}/Logs/showcase

# 自定义配置
test:
  age: 26
  name: samlen

# 是否开启shiro
shiro:
  enable: true