<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="samlen.tsoi.showcase.cloud.consumer.mapper.ConsumerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="samlen.tsoi.showcase.cloud.consumer.entity.po.Consumer">
        <id column="id" property="id" />
        <result column="result" property="result" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, result, created_at, updated_at
    </sql>

</mapper>
