# 服务配置
server:
  port: 9003

# spring相关配置
spring:
    data:
      # es配置
      elasticsearch:
        cluster-nodes: localhost:9300
        cluster-name:
        repositories:
          enabled: true
    datasource:
        name: test
        url: jdbc:mysql://127.0.0.1:3306/showcase
        username: root
        password: root
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver

# mybatis配置
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: samlen.tsoi.showcase.entity.po

# 通用Mapper
mapper:
   mappers: tk.mybatis.mapper.common.Mapper
   not-empty: false
   identity: MYSQL

# 分页设置
pagehelper:
    helperDialect: mysql
    reasonable: true
    supportMethodsArguments: true
    params: count=countSql
